
modules = ["python-3.11", "nix"]

[nix]
channel = "stable-24_05"

run = "streamlit run main.py --server.address=0.0.0.0 --server.enableCORS=false --server.enableWebsocketCompression=false"

[[ports]]
localPort = 8501
externalPort = 80

[deployment]
run = ["sh", "-c", "streamlit run main.py --server.address=0.0.0.0 --server.enableCORS=false --server.enableWebsocketCompression=false"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40264477

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run main.py --server.address=0.0.0.0 --server.enableCORS=false --server.enableWebsocketCompression=false"
